:root {
  --purple: #8c65a4;
  --purple-button: #a193af;
  --purple-link: #19022e;
  --blue-button: #3f2083;
  --white: #ede9e9;
  --grey: #5c5a5a99;
  --grey-shadow: #938f93;
  --white-text: #fff7f7;
  --white-body: #f9f6f6;
  --black-text: #0c0c0c;
}

.titulo-texto {
  text-align: center;
}

.titulo-texto p {
  font-size: 16px;
}

.container-pessoas .box-pessoas {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 20px 20px;
}

.box-pessoas {
  margin: 30px 0 0;
}

.box-pessoas p {
  font-size: 12px;
  font-weight: 500;
}

h3 {
  padding-top: 10px;
}

#edgar {
  text-align: center;
  width: 20%;
  height: 250px;
  padding: 30px 0 230px;
  margin-right: 30px;
  background-color: var(--white-body);
  border: 3px solid var(--purple);
  border-radius: 20px;
}

#karen {
  text-align: center;
  width: 20%;
  height: 250px;
  padding: 30px 0 230px;
  margin-right: 30px;
  background-color: var(--white-body);
  border: 3px solid var(--purple);
  border-radius: 20px;
}

#hikaru {
  text-align: center;
  width: 20%;
  height: 250px;
  padding: 30px 0 230px;
  margin-right: 20px;
  background-color: var(--white-body);
  border: 3px solid var(--purple);
  border-radius: 30px;
}

#marieve {
  text-align: center;
  width: 20%;
  height: 250px;
  padding: 30px 0 230px;
  margin-right: 30px;
  background-color: var(--white-body);
  border: 3px solid var(--purple);
  border-radius: 20px;
}

#welington {
  text-align: center;
  width: 20%;
  height: 250px;
  padding: 30px 0 230px;
  background-color: var(--white-body);
  border: 3px solid var(--purple);
  border-radius: 20px;
}
