:root {
  --purple: #8c65a4;
  --purple-button: #a193af;
  --purple-link: #19022e;
  --blue-button: #3f2083;
  --white: #ede9e9;
  --grey: #5c5a5a99;
  --grey-shadow: #938f93;
  --white-text: #fff7f7;
  --white-body: #f9f6f6;
  --black-text: #0c0c0c;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.title__page {
  color:var(--purple);
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
  line-height: 1;
  letter-spacing: 1px;
  margin-top: 16rem;
} 

.text-introducao {
  text-align: center;
  font-size: 18px;
  margin: 40px ;
  padding: 0 20px;
}

.card-equipe {
  position: relative;
  width: 180px;
  height: 280px;
  perspective: 1000px;
}

.card-equipe .flip {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-equipe:hover .flip {
  transform: rotateY(180deg);
}

.front-card, .back-card {
  position: absolute;
  backface-visibility: hidden;
}

.back-card {
  transform: rotateY(180deg);
}

.front-card img, .back-card img {
  border-radius: 10px 15px;
  box-shadow: 0 5px 5px var(--grey-shadow);
}

.card-agradecimento img {
  margin-top: -90%;
  margin-bottom: 35%;
  margin-left: 1%;
  margin-right: 4%;
}


@media (max-width: 786px) {
  .title__page {
    margin-top: 10rem;
  }
}
