h1 {
  text-align: center;
  margin: 6%  0% 0;
  padding-top: 80px;
}

h2 {
  color: var(--purple);
  text-align: center;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 1px;
  margin: 3%;
}
/* 
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10px;
}

.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 10px;
}

.dep-op {
  color: #8c65a4;
  margin: 60px;
}

.depart-fot {
  display: flex;
  flex-direction: row;

  justify-content: space-;
  align-items: center;
  flex-wrap: wrap;

}

.depart-fot img {
  
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
 
} */

.container-card-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 3rem;
}

.cards img {
  width: 200px;
  height: 150px;
  transition: 0.35s ease;
}

.cards img:hover {
  transform: scale(0.6) translateY(5px);
  cursor: pointer;
}

p {
  margin: 10px 45px 10px 45px;
  text-align: justify;
}


/* 
.depart-fot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10px;
  justify-content: center;
  margin: 18px;
  padding: 18px;
}



.depart-fot {
  display: flex;
  flex-direction: row;


  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10px;
  justify-content: center;
  margin: 18px;
  padding: 18px;
}

.depart-fot4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10px;
  justify-content: center;
  margin: 18px;
  padding: 18px;
} */

.foto {
  margin-right: 10px;
  width: 200px;
  height: 150px;
  margin-left: 10px;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1px;
  margin: 3%;
}

.card-login {
  float: left;
  margin-top: -5.3%;
  margin-left: 10%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  width: 500px;
  height: 45px;
  background-color: var(--white);
  text-decoration: var(--grey);
  border: 1px solid var(--purple);
  border-radius: 5px 5px;
  box-shadow: 3px 3px 3px var(--grey-shadow);
  background-position: inherit;
}

.card-senha {
  float: left;
  margin-top: 5%;
  margin-left: 10%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  width: 500px;
  height: 45px;
  background-color: var(--white);
  text-decoration: var(--grey);
  border: 1px solid var(--purple);
  border-radius: 5px 5px;
  box-shadow: 3px 3px 3px var(--grey-shadow);
  background-position: inherit;
}

.button-cadeado {
  float: right;
  display: inline-flex;
  position: relative;
  background-color: transparent;
  border: none;
  top: 5px;
  left: 150px;
  bottom: unset;
  flex: 1 1 auto;
  width: 10%;
}

.link-esqueciSenha {
  font-size: 12px;
  border: none;
  color: var(--white-text);
  float: right;
  display: inline-flex;
  position: relative;
  background-color: transparent;
  z-index: 3;
  top: 8px;
  left: -1.7%;
}

.button-entrar {
  font-size: 18px;
  background-color: var(--purple-button);
  color: var(--white-text);
  width: 125px;
  height: 42px;
  text-align: center;
  border: 1px solid var(--purple-button);
  padding: 2.9px 3px;
  line-height: 1.5rem;
  border-radius: 18px 18px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px var(--grey-shadow);
  margin-top: 35%;
  margin-left: 40%;
  margin-bottom: 8%;
}

#entrar {
  font-size: 22px;
  font-weight: 550;
  float: right;
  display: inline-flex;
  position: relative;
  background-color: transparent;
  border: none;
  left: -60px;
  bottom: unset;
  flex: 1 1 auto;
  width: 10%;
  bottom: -3px;
}

#img-entrar {
  border: none;
  margin-left: 4.8px;
  margin-top: 3.8px;
  margin-bottom: 3px;
  bottom: 3.5px;
  left: -60px;
  display: inline-flex;
  position: relative;
  background-color: transparent;
  z-index: 3;
  float: right;
}

.rede-sociais {
  font-size: 16px;
  font-weight: 550;
  color: var(--black-text);
  text-align: center;
  margin: -3% 0% 15% 1%;
}

#acesso-redeSociais {
  align-items: center;
  justify-content: space-around;
  margin-top: -12%;
  margin-left: 35%;
  margin-bottom: 5%;
}

main {
  background-color: white;
  justify-content: center;
}

.inscrevaSe {
  margin-top: 30px;
}

iframe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}