:root {
    --purple: #8c65a4;
    --purple-button:  #a193af;
    --purple-link: #19022e;
    --blue-button: #3f2083;
    --white: #ede9e9;
    --grey:  #5c5a5a99;
    --grey-shadow: #938f93;
    --white-text: #fff7f7;
    --white-body: #f9f6f6;
    --black-text:  #0c0c0c;
}

h2 {
    color:var(--purple);
    font-size: 30px;
    text-align: center;
    font-weight: 1000;
    line-height: 1;
    letter-spacing: 1px;
    margin: 3%;
}

h3 {
    margin: 2% 0 2%;
}

.card-login {
    float: left;
    margin-top: -5.3%;
    margin-left: 10%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 500px;
    height: 45px;
    background-color:var(--white);
    text-decoration:var(--grey);
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
}

.card-senha {
    float: left;
    margin-top: 5%;
    margin-left: 10%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 500px;
    height: 45px;
    background-color:var(--white);
    text-decoration:var(--grey);
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
}

.button-cadeado {
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    border: none;
    top: 5px;
    left: 150px;
    bottom: unset;
    flex: 1 1 auto;
    width: 10%;
}

.link-esqueciSenha {
    font-size: 12px;
    border: none;
    color: var(--white-text);
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
    top: 8px;
    left: -1.7%;
}

.button-entrar {
    font-size: 18px;
    background-color:  var(--purple-button);
    color: var(--white-text);
    width: 125px;
    height: 42px;
    text-align: center;
    border: 1px solid  var(--purple-button);
    padding: 2.9px 3px;
    line-height: 1.5rem;
    border-radius: 18px 18px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    margin-top: 35%;
    margin-left: 40%;
    margin-bottom: 8%;
}

#entrar {
    font-size: 22px ;
    font-weight: 550;
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    border: none;
    left: -60px;
    bottom: unset;
    flex: 1 1 auto;
    width: 10%;
    bottom: -3px;
}

#img-entrar {
    border: none;
    margin-left: 4.8px;
    margin-top: 3.8px;
    margin-bottom: 3px;
    bottom: 3.5px;
    left: -60px;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
    float: right;
   
}

.rede-sociais {
    font-size: 16px;
    font-weight: 550;
    color: var(--black-text);
    text-align: center;
    margin: -3% 0% 15% 1%;
}

#acesso-redeSociais {
    align-items: center;
    justify-content: space-around;
    margin-top: -12%;
    margin-left: 35%;
    margin-bottom: 5%;
    
}