h3{
    padding: 0 0 10px;
}

#texto-h3 {
    color: #8c65a4;
    font-size: 14px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
    padding: 20px 0 20px;
}

/* Elementos com o ID "titulo" */
#titulo {
    font-family: sans-serif;
    margin-left: 7%;
} 

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    margin-left: 10%;
} 

#check{
    display: inline-block;
}

/* Elementos de tag <fieldset>*/
fieldset {
    border: 0;
    padding: 0;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea {
    font-family: sans-serif;
    font-size: 1em;
    border-radius: 5px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    display: block;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo input[type="telNo"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

/* Elemento de classe "botao" */
.button {
    font-size: 1.2em;
    border: 0;
    margin-bottom: 2em;
    padding: 0 0 1em;
    cursor: pointer;
}