:root {
    --purple: #8c65a4;
    --purple-button: #a193af;
    --purple-link: #19022e;
    --blue-button: #3f2083;
    --white: #ede9e9;
    --grey: #5c5a5a99;
    --grey-shadow: #938f93;
    --white-text: #fff7f7;
    --white-body: #f9f6f6;
    --black-text: #0c0c0c;
  }

main {
    font-size: 16px;
    background-color: var(--white-body);
    border: 3px solid var(--purple);
    border-radius: 30px 30px;
    box-shadow: 3px 5px 3px var(--grey-shadow);
    width: 90%;
    height: auto;
    align-content: center;
    text-align: justify;
    margin: 12% 5% 5%;
    padding: 1.8%;
  }

h3{
    padding: 0 0 10px;
}

#texto-h3 {
    color: #8c65a4;
    font-size: 14px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
    padding: 20px 0 20px;
}

.form {
    padding: 5px 20px;
  }

.form label {
    font-size: 18px;
    font-weight: bolder;
}

.form-control {
    margin-bottom: 25px;
    padding-bottom: 3px;
    position: relative;
}

.form-control label {
    display: inline-block;
}
  
.form-control input {
    font-size: 16px;
    display: block;
    background-color: var(--white);
    text-decoration: var(--grey);
    border: 1px solid var(--purple);
    border-radius: 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    width: 20%;
    height: 26px;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 30px;
    right: 7px;
    visibility: hidden;
}
  
.form-control small {
    position: absolute;
    bottom: -18px;
    left: 5px;
    visibility: hidden;
}

.form button {
    text-align: center;
    background-color: var(--blue-button);
    border: 2px solid var(--blue-button);
    box-shadow: 3px 5px 3px var(--grey-shadow);
    color: #fff;
    font-size: 18px;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 20px;
    transition: all .3s;
}

button {
    margin-top: -500px;
}

.btn-enviar a{
    color: white;
}

button span {
    display: inline-block;
    position: relative;
    transition: all .3s;
    margin-top: 1px;
}

button:hover {
    cursor: pointer;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    display: block;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo input[type="telNo"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

.form-control.success input {
    border: 2px solid  #1ac65c;
}

.form-control.error input {
    border: 2px solid #c81f0c;
}

.form-control.success i.fa-check-circle {
    color: #1ac65c;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #c81f0c;
    visibility: visible;
}

.form-control.error small {
    color: #c81f0c;
    visibility: visible;
}

/* ---------- Estilos dinâmicos ---------- */

  