/* Estilizando a Main */
body {
background-color: white;
}

main {
  border: 0;
  border-radius: 0;
  box-shadow: 0 var(--white-body);
  background-color: white;
}

section h1 {
  align-items: center;
  text-align: center;
}

h2 {
  margin-bottom: 0;
  font-size: x-large;
  color: var(--purple);
}

.container-card-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 2rem;
}

.cards img {
  width: 200px;
  height: 150px;
  transition: 0.35s ease;
}

.cards img:hover {
  transform: scale(0.9) translateY(5px);
  cursor: pointer;
}

/* Produtos descontos */

.container-produtos-destaque {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin: 3rem;
  cursor: pointer;
}

/* fim Produtos descontos */

/* Estilizando Produtos  */
.container-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin: 3rem;
  cursor: pointer;
}

div .produtos {
  /* border: 1px groove black; */
  max-width: 300px;
  max-height: 450px;
}

.produtos img {
  width: 160px;
  height: 220px;
}

.produtos p {
  font-weight: bolder;
}

.produtos h5 {
  text-decoration: line-through;
  color: rgb(89, 88, 88);
}

/* div .add-carrinho {
    width: 25px;
    height: 25px;
    transition: 0.35s ease;
    vertical-align: top;

}

div .add-carrinho:hover{
    transform: scale(0.9) translateY(2px);
    cursor: pointer;
} */

.button {
  background-color: var(--purple);
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 30px;
  cursor: pointer;
  width: 170px;
  transition: 0.35s ease;
}

.button:hover {
  transform: scale(1.07) translateX(5px);
  cursor: pointer;
}
