html{
    font-family: 'Imprima', sans-serif;
    font-size: 18px;
    text-align: justify;
    text-decoration: none;
    display: flex;
}

header {
    background-color: #8c65a4;
    align-content: space-around;
    align-items: stretch;
    justify-content:  space-around;
    flex: 1 1 0%;
    flex-direction: row;
    gap: 1rem;
    margin: auto;
    width: 100%;
    height: 12%;
    display: flex;
    flex-wrap: nowrap;
    border: 0 solid;
    box-sizing: border-box;
    position: fixed;
}

#card-container {
    float: left;
    margin-right: -10%;
    margin-bottom: -900%;
    margin-top: -0.8%;
    margin-left: -28%;
    display: flex;
    padding: 10px;
}

#buscar-menu{
    float: left;
    margin-right: 10%;
    margin-bottom: -900%;
    margin-top: 1.3%;
    margin-left: -18%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 76rem;
    box-sizing: border-box;
    width: 600px;
    height: 30px;
    background-color: #ede9e9;
    text-decoration: #5c5a5a99;
    border: none;
    border-radius: 5px 5px;
    background-position: inherit;
    flex-wrap: wrap;
}

#buttom-buscar{
    float:left;
    margin-right: 10%;
    margin-bottom: 00%;
    margin-top: -1.3%;
    margin-left: -14%;
    margin: 10px 40px;
    padding: auto;
    display: inline;
    position: relative;
    top:50%;
    border:0 none;
    box-sizing: border-box;
}

.buttom-buscador {
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    border: none;
    top: 23px;
    left: -242px;
    bottom: unset;
    flex: 1 1 auto;
    width: 10%;
}

#card-login {
    font-size: 12px;
    border: none;
    color: #fff7f7;
    margin-left: 5px;
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
    top: -8px;
    left: -110px;
}   

#text-login  {
    font-size: 12px;
    border: none;
    color: #fff7f7;
    margin-left: 5px;
    letter-spacing: 2px;
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
    top: 1px;
    left: 65px;
}


#cadastro {
    font-size: 12px;
    border: none;
    color: #fff7f7;
    letter-spacing: 1.2px;
    margin-left: 5px;
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
    top: 18px;
    left: 186px;

}

.login {
    font-size: 13px;
    border: none;
    color: #fff7f7;
    margin-left: 5px;
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
    top: -1px;
    left: 1%;
}

.cadastro {
    font-size: 12.5px;
    border: none;
    color: #fff7f7;
    letter-spacing: 2px;
    margin-left: 5px;
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
}

#gostar {
    border: none;
    margin-left: 5px;
    float: right;
    display: inline-flex;
    position: relative;
    z-index:3;
    background-color: transparent;
    top: -1px;
    left: 410px;
}

#card-carrinho {
    border: none;
    margin-left: 5px;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
    float: right;
    top: -1px;
    left: 430px;
}

.menu-login {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    float: right;
    display: inline-flex;
    position: relative;
    z-index:3;
    top: -4.5px;
    left: 600px;
}

body {
    background-color: #f9f6f6;
 

}

#texto-h3 {
    color: #8c65a4;
    font-size: 14px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
    border-radius: 0%;
}

#inscrevaSe {
    border: none;
    border-radius: 10px 30px;
    background-color: #8c65a4;
    width: 800px;
    height: 100px;
    letter-spacing: 1px;
    display: flex;
    position: relative;
    top: -20px;
    left: 10px;
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    flex-wrap: wrap;
    margin-top: -2%;
    margin-left: 250px;
    margin-bottom: 20px;

}

#text-inscreva {
    font-size: 20px;
    font-weight: 550;
    color:#fff7f7;
    text-align: center;
    margin-top: -2%;
    margin-left: 55px;
    
}

.card-inscrevaSe {
    width: 40%;
    height: 65%;
    background-color:#ede9e9;
    border-radius: 5px 5px;
    border: none;
    flex-wrap: wrap;
    justify-content: left;
    align-items: unset;
    gap: 5px;
    margin-top: 20%;
    margin-left: 15px;
}

#nome-inscreva {
    margin: 5px 10px;
    padding: 4px;
    background-color: #ede9e9;
    text-decoration: #5c5a5a99;
    border: none;
    border-radius: 3px 3px;
    margin-top: -150px;
    margin-left: 15px;
  
}

#e-mail-inscreva {
    margin: 5px 10px;
    padding: 3px;
    background-color: #ede9e9;
    text-decoration: #5c5a5a99;
    border: none;
    border-radius: 3px 3px;
    margin-top: -150px;
    margin-left: 10px;
    margin-bottom: 130px;
    flex-wrap: wrap;
  
}

#button-inscreva {
    width: 15%;
    font-size: 16px;
    background-color: #1d0650;
    color: #fff7f7;
    display: inline-flexbox;
    text-align: center;
    border: 1px solid  #a193af;
    padding: 0.335rem 0.335rem;
    line-height: 1.5rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin-top: -150px;
    margin-left: -140px;
    margin-right: 50px;
    margin-bottom: 130px;
}

footer {
    background-color: #8c65a4;
    color: #fff7f7;
    align-items: center;
    justify-content:  center;
    flex: 1 1 0%;
    margin: auto;
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 10px;
}

#endereco {
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 150px;
    margin-bottom: 60px;
}

#link-faleconsoco-footer { 
    
    font-size: 14px;
    display: flex;
    margin-top: -60px;
    margin-left: 100px;
    margin-right: 90px;
    margin-bottom: 60px;
    text-align: center;
}

#card-footer {
    text-align: center;
    font-size: 14px;
    text-decoration: solid;
    display: flex;
    margin-top: -20px;
    margin-left: 100px;
    margin-right: 90px;
    margin-bottom: 60px;
}

#rodapé {
    text-align: center;
    font-size: 12px;
    display: flex;
    margin-top: -20px;
    margin-left: 100px;
    margin-right: 90px;
    margin-bottom: 60px;
}

    

