:root {
    --purple: #8c65a4;
    --purple-button:  #a193af;
    --purple-link: #19022e;
    --blue-button: #3f2083;
    --white: #ede9e9;
    --grey:  #5c5a5a99;
    --grey-shadow: #938f93;
    --white-text: #fff7f7;
    --white-body: #f9f6f6;
    --black-text:  #0c0c0c;
}

main {
    color: var(--black-text);
    font-size: 16px;
    background-color: var(--white-body);
    border: 3px solid var(--purple);
    border-radius: 30px 30px;
    box-shadow: 3px 5px 3px var(--grey-shadow);
    width: 50%;
    height: 705px;
    align-content: center;
    text-align: justify;
    margin: 13% -7% 12% 26%;
    padding: 1.8%;
}


h2 {
    color:var(--purple);
    font-size: 30px;
    text-align: center;
    font-weight: 1000;
    line-height: 1;
    letter-spacing: 1px;
    margin: 4% 10% 5% 14%;
}
p {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.parag-conta {
    color: var(--black-text);
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.parag-conta img {
    margin-left: -8px;
    margin-right: 70px;
    margin-top: -25px;
    margin-bottom: -6px;
}

.parag-conta label{
    margin-left: -75px;
    margin-right: 70px;
    margin-bottom: 20px;
}

.cx-NomeFantasia input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 557px;
    height: 35px;
    margin-top: 8%;
    margin-left: 0%;
    margin-bottom: -50px;
    margin-right: 350%;
    list-style: none;
}

.cx-razaoSocial input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 557px;
    height: 35px;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: -50px;
    margin-right: 350%;
    list-style: none;
}

.cx-cnpj input {
    background-color:var(--white);
    text-decoration:var(--grey);
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: -150%;
    margin-right: 0%;
    padding: 1%;
    list-style: none;
}

.cx-dataAbertura input{
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: 143.9%;
    margin-left: 50%;
    margin-bottom: -50px;
    margin-right: 0%;
    list-style: none;  
}

.cx-incricaoEstadual input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 557px;
    height: 35px;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-right: 50%;
    list-style: none;
}

.cx-nomeResponsavel input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: 1.2%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-right: 350%;
    list-style: none;
}

.cx-cargoResponsavel input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: -6.2%;
    margin-left: 49.9%;
    margin-bottom: 0px;
    margin-right: 350%;
    list-style: none;
}

.cx-telefoneCelular input {
    background-color:var(--white);
    text-decoration:var(--grey);
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: 1.3%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 330%;
    padding: 1%;
    list-style: none;
}

.cx-telefoneContato input {
    background-color:var(--white);
    text-decoration:var(--grey);
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: -6.2%;
    margin-left: 50%;
    margin-bottom: 0%;
    margin-right: 330%;
    padding: 1%;
    list-style: none;
}

.cx-Email input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 557px;
    height: 35px;
    margin-top: 1.2%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-right: 350%;
    list-style: none;
}

.cx-senha input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: 1.3%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-right: 350%;
    list-style: none; 
}

.cx-confirmasenha input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: -6.2%;
    margin-left: 50%;
    margin-bottom: 0%;
    margin-right: 330%;
    padding: 1%;
    list-style: none;
}

.campoObg {
    margin: 3px 0 20px 3px;
}

.ofertas {
   text-align: left;
   margin: 10px 0 2px 0;
   display: flex;
   flex-direction:row;
   flex-wrap: wrap;
   align-items: center;
}

.ofertas input {
    user-select: none;
    cursor: pointer;
 }

.politica {
    text-align: left;
    margin: 18px 2px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    cursor: pointer;
 }

 .politica input {
    user-select: none;
    cursor: pointer;
 }
 
 .politica a {
    color: var(--purple);
    font-weight: 700;
    padding: 5px;

 }

.button-cadastrar {
    background-color:  var(--purple-button);
    width: 135px;
    height: 42px;
    border: 1px solid  var(--purple-button);
    padding: 7px 3px;
    line-height: 1.5rem;
    border-radius: 18px 18px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    margin-top: 2%;
    margin-left: 37%;
    margin-bottom: 128%;
}

#cadastrar {
    position: relative;
    background-color: transparent;
    border: none;
    left: -100px;
    top: 5px;
    flex: 1 1 auto;
    width: 10%;
    bottom: -3px;
}

.button-cadastrar a {
    color: var(--purple-link);
    font-weight: 800;
    font-size: 22px ;
    background-color:  var(--purple-button);
}