:root {
    --purple: #8c65a4;
    --purple-button:  #a193af;
    --purple-link: #19022e;
    --blue-button: #3f2083;
    --white: #ede9e9;
    --grey:  #5c5a5a99;
    --grey-shadow: #938f93;
    --white-text: #fff7f7;
    --white-body: #f9f6f6;
    --black-text:  #0c0c0c;
}

main {
    color: var(--black-text);
    font-size: 18px;
    background-color: var(--white-body);
    border: 3px solid var(--purple);
    border-radius: 30px 30px;
    box-shadow: 3px 5px 3px var(--grey-shadow);
    width: 34%;
    height: 1040px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 13% 33%;
}

h2 {
    color:var(--purple);
    font-size: 30px;
    text-align: center;
    font-weight: 1000;
    line-height: 1;
    letter-spacing: 1px;
    margin: 10% 10% 8% 15%;
}

p {
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 5%;
}

ul {
  list-style: none;
}

.parag-conta {
    margin-bottom: -5%;
}

#pessoaFisica {
    color: var(--black-text);
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 5% 1.5% 15%;
}

#img-pessoaFisica {
    margin-left: -450px;
    margin-right: 85px;
    margin-top: -1px;
}

#pessoaJuridica {
    color: var(--black-text);
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -9.5% 10% 0% 59%;
}

#img-pessoaJuridica {
    margin: -40% 0% 3.5% -32%;
}

.parag-conta img {
    margin-left: -83px;
    margin-right: 70px;
    margin-top: -20px;
    margin-bottom: -6px;
    
}

.parag-conta label{
    margin-left: -75px;
    margin-right: 70px;
}

.container {
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.form {
    padding: 5px 20px;
  }

.form-control {
    margin-bottom: 5px;
    padding-bottom: 3px;
    position: relative;
}

.form-control label {
    display: inline-block;
}
  
.form-control input {
    font-size: 16px;
    display: block;
    background-color: var(--white);
    text-decoration: var(--grey);
    border: 1px solid var(--purple);
    border-radius: 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    width: 100%;
    height: 40px;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 30px;
    right: 7px;
    visibility: hidden;
}
  
.form-control small {
    position: absolute;
    bottom: -18px;
    left: 5px;
    visibility: hidden;
}

.campoObg {
    margin: 25px 0 5px -295px;
    font-size: 13px;
}

.ofertas { 
   font-size: 14px;
   text-align: left;
   margin: 10px 2px;;
   display: flex;
   flex-direction:row;
   flex-wrap: nowrap;
   align-items: flex-start;
   justify-content: justify;
}

.ofertas input {
    user-select: none;
    cursor: pointer;
 }

.politica {
    font-size: 14px;
    margin: 1px 2px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

 .politica input {
    user-select: none;
    cursor: pointer;
}
 
 .politica a {
    color: var(--purple);
    font-weight: 700;
    margin-top: -1px;
    margin-left: 5px;
}

.form button {
    text-align: center;
    background-color: var(--blue-button);
    border: 2px solid var(--blue-button);
    box-shadow: 3px 5px 3px var(--grey-shadow);
    color: #fff;
    font-size: 18px;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    padding: 5px;
    margin-top: 5%;
    transition: all .3s;
}

button span {
    display: inline-block;
    position: relative;
    transition: all .3s;
    margin-top: 1px;
}

button:hover {
    cursor: pointer;
}

.button-cadastrar {
    background-color: var(--blue-button);
    color: #fff;
    border: none;
    border-radius: 15px;;
    padding: 0;
    outline-offset: px;
}

.button-cadastrar span {
    display: block;
    padding: 0px 10px;
    border-radius: 15px;
    background: var(--blue-button);
    transform: translateY(-7px);
    text-align: center;
    padding-top: 8px;

}

.bounce-effect:hover {
    width: 140px;
    height: 50px;
 
}

.bounce-effect:active {
    width: 120px;
    height: 45px;
}

.button-cadastrar:hover span {
    transform: translateY(-6px);
}

.button-cadastrar:active span {
    transform: translateY(-3px);
}

.form-control.success input {
    border: 2px solid  #1ac65c;
}

.form-control.error input {
    border: 2px solid #c81f0c;
}

.form-control.success i.fa-check-circle {
    color: #1ac65c;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #c81f0c;
    visibility: visible;
}

.form-control.error small {
    color: #c81f0c;
    visibility: visible;
}

.inscrevaSe {
    border: none;
    border-radius: 10px 30px;
    background-color: var(--purple);
    width: 730px;
    height: 90px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
    display: flex;
    margin: -6% 2% 3% 21%;
}
  
#text-inscreva {
    font-size: 20px;
    font-weight: 550;
    color: var(--white-body);
    text-align: center;
    margin-top: 1%;
    right: 25px;
}
  
.nome-inscreva {
    background-color: var(--white-body);
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    margin-top: 1%;
    margin-bottom: -96%;
    margin-left: 6%;
    margin-right: 260%;
    padding: 1%;
    list-style: none;
}
  
.e-mail-inscreva {
    background-color: var(--white-body);
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    margin-top: 91.2%;
    margin-left: 43%;
    margin-bottom: -50px;
    margin-right: 350%;
    padding: 1%;
    list-style: none;
}
  
  
/* Inscreva-se*/

.inscrevaSe {
    border: none;
    border-radius: 10px 30px;
    background-color: var(--purple);
    width: 700px;
    height: 100px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
    margin: 40px 0 45px 335px ;
}
  
#text-inscreva {
    font-size: 20px;
    font-weight: 550;
    color: var(--white-body);
    text-align: center;
    margin-top: 1%;
    margin-right: 35px;
}
  
.nome-inscreva {
    background-color: var(--white-body);
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    margin-top: -0.5%;
    margin-left: 6%;
    margin-right: 260%;
    padding: 1%;
    list-style: none;
}
  
.e-mail-inscreva {
    background-color: var(--white-body);
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    margin-top: 91.2%;
    margin-left: 43%;
    margin-bottom: -50px;
    margin-right: 350%;
    padding: 1%;
    list-style: none;
}
  
.button-inscreva  {
    width: 120px;
    height: 18px;
    border: 1px solid var(--purple-button);
    line-height: 1.5rem;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all .3s;
    padding: 0;
    margin: 2% 2% 0% 80% ;
    outline-offset: 4px;
}
  
.button-inscreva span {
    font-size: 16px;
    color: var(--white-text);
    text-align: center;
    display: block;
    padding: 10px 22px;
    border-radius: 10px;
    background: var(--blue-button);
    transform: translateY(-7px);
}
  
.button-inscreva:hover  span {
    transform: translateY(-6px);
}
  
.button-inscreva:active span {
    transform: translateY(-1px);
}

/*Cx de Alerta Inscreva=se*/

.message {
  padding: 60px 90px;
  position: fixed;
  right: 305px;
  background-color: var(--purple-button);
  border-radius: 5px;
  color: var(--white-text);
  animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.msgBox {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 198%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 370px;
  height: 135px;
  border-radius: 30px 30px;
  box-shadow: 3px 5px 3px var(--grey-shadow);
  background: var(--purple);
}

.msgBox p {
  line-height: 1.5;
  padding: 10px 20px;
  color: var(--white-text);
  padding-left: 15px;
  background-position: 25px center;
  background-repeat: no-repeat;
}

.msgBox button {
  background: none;
  border: none;
  position: absolute;
  top: 5%;
  right: 4%;
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--blue-button);
}

@keyframes slidein {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}