:root {
    --purple: #8c65a4;
    --purple-button:  #a193af;
    --purple-link: #19022e;
    --blue-button: #3f2083;
    --white: #ede9e9;
    --grey:  #5c5a5a99;
    --grey-shadow: #938f93;
    --white-text: #fff7f7;
    --white-body: #f9f6f6;
    --black-text:  #0c0c0c;
}

html{
    font-family: 'Imprima', sans-serif;
    font-size: 18px;
    text-decoration: none;
    display: flex;
}

header {
    background-color: var(--purple);
    align-content: center;
    justify-content:  center;
    width: 100%;
    height: 15%;
    display: flex;
    box-sizing: border-box;
    position: fixed;
}

nav {
    margin: 0% 23%;
}

.card-container {
    float: left;
    margin-right: 55%;
    margin-bottom: -725%;
    margin-top: 0.5%;
    margin-left: -36%;
    display: flex;
}

.buscar-menu{
    float: left;
    margin-right: 1%;
    margin-bottom: -200%;
    margin-top: 5%;
    margin-left: -13%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 600px;
    height: 30px;
    background-color:var(--white);
    text-decoration:var(--grey);
    border: none;
    border-radius: 5px 5px;
    background-position: inherit;
  
}

.button-buscar {
    float:left;
    display: flex;
    position: relative;
    top:50%;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
}

.button-buscador {
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    border: none;
    top: 35px;
    left: -120px;
    bottom: unset;
    flex: 1 1 auto;
    width: 10%;
}

.login {
    border: none;
    margin: 25px 10px 0 0;
    font-size: 13px;
    border: none;
    color: var(--white-text);
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
    top: 1px;
    margin-left: 2px;
}   

.login-header {
    font-size: 12px;
    border: none;
    color: var(--white-text);
    letter-spacing: 2px;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: transparent;
    top: 32px;
    left: 165px;
    z-index:3;
}

.login-link {
    font-size: 12.5px;
    border: none;
    color: var(--white-text);
    letter-spacing: 2px;
    margin-left: 4px;
    margin-top: 1px;
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
}

.card-cadastro {
    font-size: 12px;
    border: none;
    color: var(--white-text);
    letter-spacing: 1.2px;
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
    top: 53px;
    left: 280px;
}

.cadastro-link {
    font-size: 12.5px;
    border: none;
    color: var(--white-text);
    letter-spacing: 2px;
    margin-left: 5px;
    float: right;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
}

.gostar {
    border: none;
    margin-left: 5px;
    float: right;
    display: inline-flex;
    position: relative;
    z-index:3;
    background-color: transparent;
    top: 32.5px;
    left: 490px;
}

.card-carrinho {
    border: none;
    margin-left: 5px;
    display: inline-flex;
    position: relative;
    background-color: transparent;
    z-index:3;
    float: right;
    top: 33px;
    left: 500px;
}

.menu {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    float: right;
    display: inline-flex;
    position: relative;
    z-index:3;
    top: 28px;
    left: 660px;
}

body {
    background-color: var(--white-body);
    width: 100%;
}


main {
    color: var(--black-text);
    font-size: 16px;
    background-color: var(--white-body);
    border: 3px solid var(--purple);
    border-radius: 30px 30px;
    box-shadow: 3px 5px 3px var(--grey-shadow);
    width: 50%;
    height: 705px;
    align-content: center;
    text-align: justify;
    margin: 13% 25%;
    padding: 1.8%;
}

input {
    background-color: transparent;
    text-decoration:var(--grey);
    border: none;
}

h2 {
    color:var(--purple);
    font-size: 30px;
    text-align: center;
    font-weight: 1000;
    line-height: 1;
    letter-spacing: 1px;
    margin: 4% 10% 5% 14%;
}

p {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.parag-conta {
    color: var(--black-text);
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.parag-conta img {
    margin-left: -8px;
    margin-right: 70px;
    margin-top: -25px;
    margin-bottom: -6px;
}

.parag-conta label{
    margin-left: -75px;
    margin-right: 70px;
    margin-bottom: 20px;
}

.cx-NomeFantasia input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 557px;
    height: 35px;
    margin-top: 8%;
    margin-left: 0%;
    margin-bottom: -50px;
    margin-right: 350%;
    list-style: none;
}

.cx-razaoSocial input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 557px;
    height: 35px;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: -50px;
    margin-right: 350%;
    list-style: none;
}

.cx-cnpj input {
    background-color:var(--white);
    text-decoration:var(--grey);
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: -150%;
    margin-right: 0%;
    padding: 1%;
    list-style: none;
}

.cx-dataAbertura input{
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: 143.9%;
    margin-left: 50%;
    margin-bottom: -50px;
    margin-right: 0%;
    list-style: none;  
}

.cx-incricaoEstadual input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 557px;
    height: 35px;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-right: 50%;
    list-style: none;
}

.cx-nomeResponsavel input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: 1.2%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-right: 350%;
    list-style: none;
}

.cx-cargoResponsavel input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: -6.2%;
    margin-left: 49.9%;
    margin-bottom: 0px;
    margin-right: 350%;
    list-style: none;
}

.cx-telefoneCelular input {
    background-color:var(--white);
    text-decoration:var(--grey);
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: 1.3%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 330%;
    padding: 1%;
    list-style: none;
}

.cx-telefoneContato input {
    background-color:var(--white);
    text-decoration:var(--grey);
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: -6.2%;
    margin-left: 50%;
    margin-bottom: 0%;
    margin-right: 330%;
    padding: 1%;
    list-style: none;
}

.cx-Email input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 557px;
    height: 35px;
    margin-top: 1.2%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-right: 350%;
    list-style: none;
}

.cx-senha input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: 1.3%;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-right: 350%;
    list-style: none; 
}

.cx-confirmasenha input {
    background-color:var(--white);
    text-decoration:var(--grey);
    text-align: left;
    padding-left: 10px;
    padding: 1px 10px;
    border: 1px solid var(--purple);
    border-radius: 5px 5px;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    background-position: inherit;
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    width: 275px;
    height: 35px;
    margin-top: -6.2%;
    margin-left: 50%;
    margin-bottom: 0%;
    margin-right: 330%;
    padding: 1%;
    list-style: none;
}

.campoObg {
    margin: 3px 0 20px 3px;
}

.ofertas {
   text-align: left;
   margin: 10px 0 2px 0;
   display: flex;
   flex-direction:row;
   flex-wrap: wrap;
   align-items: center;
}

.ofertas input {
    user-select: none;
    cursor: pointer;
 }

.politica {
    text-align: left;
    margin: 18px 2px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    cursor: pointer;
 }

 .politica input {
    user-select: none;
    cursor: pointer;
 }
 
 .politica a {
    color: var(--purple);
    font-weight: 700;
    padding: 5px;

 }

.button-cadastrar {
    background-color:  var(--purple-button);
    width: 135px;
    height: 42px;
    border: 1px solid  var(--purple-button);
    padding: 7px 3px;
    line-height: 1.5rem;
    border-radius: 18px 18px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px var(--grey-shadow);
    margin-top: 5%;
    margin-left: 37%;
    margin-bottom: 8%;
}

#cadastrar {
    position: relative;
    background-color: transparent;
    border: none;
    left: -100px;
    top: 5px;
    flex: 1 1 auto;
    width: 10%;
    bottom: -3px;
}

.button-cadastrar a {
    color: var(--purple-link);
    font-weight: 800;
    font-size: 22px ;
    background-color:  var(--purple-button);
    
}

.inscrevaSe {
    border: none;
    border-radius: 10px 30px;
    background-color: var(--purple);
    width: 730px;
    height: 90px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    position: relative;
    display: flex;
    margin-top: -5%;
    margin-left: 21%;
    margin-right: 2%;
    margin-bottom: 3%;
}

#text-inscreva {
    font-size: 20px;
    font-weight: 550;
    color:var(--white-text);
    text-align: center;
    margin-top: 1%;
    right: 25px;
}

.nome-inscreva {
    background-color:var(--white);
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    margin-top: 0;
    margin-bottom: -96%;
    margin-left: 5%;
    margin-right: 340%;
    padding: 1%;
    list-style: none;
}

.e-mail-inscreva {
    background-color:var(--white);
    box-sizing: border-box;
    border-radius: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    margin-top: 91.2%;
    margin-left: 42%;
    margin-bottom: -50px;
    margin-right: 350%;
    padding: 1%;
    list-style: none;
   
}

.btn-inscreva {
    background-color: var(--blue-button);
    color: var(--white-text);
    width: 120px;
    height: 41px;
    text-align: center;
    border: 1px solid  var(--purple-button);
    line-height: 1.5rem;
    border-radius: 10px 10px;
    box-sizing: border-box;
    margin-top: 1.6%;
    margin-left: 79%;
    padding: 2px;
}

#button-inscreva {
    float: none;
    display: flex;
    position: relative;
    background-color: transparent;
    border: none;
    flex: 1 1 auto;
    width: 75%;
}

.btn-inscreva a {
    color: var(--white-text);
    font-size: 20px ;
    font-weight: 550;
   
}

footer {
    width: 100%;
    max-width: 100%;
    background-color: var(--purple);
    color: var(--white-text);
    align-content: space-around;
    align-items: stretch;
    justify-content: space-around;
    flex: 1 1 0%;
    flex-direction: row;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}


.endereco {
    font-size: 14px;
    font-weight: 500;
    color: var(--white-text);
    text-align: center;
    justify-content: center;
    margin-top: -5px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: -15px;
    padding: 5px 5px;
}

.link-faleconsoco-footer { 
    font-size: 14px;
    font-weight: 500;
    color: var(--white-text);
    text-align: center;
    justify-content: center;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: -5px;
    padding: 1px 1px;
}

#text-sigaNos {
    font-size: 14px;
    font-weight: 500;
    color: var(--white-text);
    text-align: center;
    justify-content: center;
    margin-top: -5px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: -3px;
    padding: 10px 10px;
}

.card-footer {
    text-align: center;
    justify-content: center;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: -4px;
    padding: 1px 1px;
}

#rodapé {
    font-size: 10px;
    font-weight: 500;
    color:var(--white-text);
    text-align: center;
    justify-content: center;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: -12px;
    padding: 1px 1px;
}

#rodapé a {
    text-decoration: none;
    color: var(--purple-link);
}

