:root {
  --purple: #8c65a4;
  --purple-button: #a193af;
  --purple-link: #19022e;
  --blue-button: #3f2083;
  --white: #ede9e9;
  --grey: #5c5a5a99;
  --grey-shadow: #938f93;
  --white-text: #fff7f7;
  --white-body: #f9f6f6;
  --black-text: #0c0c0c;
}



/*
* TOAST
*/

.toast {
  visibility: hidden;
  min-width: 450px; 
  margin-left: -125px; 
  background-color: var(--purple);
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  right: 50%; 
  transform: translateX(50%);
  bottom: 30px; 

  box-shadow: 0 5px 2px rgba(0, 0, 0, .5);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toast__text {
  color: var(--white-text);
  font-size: 2rem;
  font-weight: bold;

}

.toast__actived {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}